{% extends "base.html" %}

<meta name="yandex-verification" content="3a56b1e13e623cb8" />

{% block content %}

<style>
    html {background: #F2F7FA;}
    body {min-width: 800px}
    section {width: 80%;}
    .zag {font-size: 40pt; line-height: 60px; font-family: 'Inter', sans-serif; font-weight: 300; color: #000; margin-top: 10px; }
    p {max-width: 600px; font-size: 14pt; line-height: 26px; font-family: 'Inter', sans-serif; font-weight: 400; color: #000; margin-top: 20px; margin-bottom: 30px;}
</style>

    <img src="https://maket.studio/maket.svg" width="150" >
       <h1 class="zag">
  Брендинг, сайты, материалы и&nbsp;готовые&nbsp;продукты
</h1>

<p>Разрабатываем любые проекты — от логотипа для маленького стартапа до целого СМИ. Верим и надеемся, что сделаем дизайн в России чуть лучше и удобнее, а людей счастливее.</p>
<p>Нам можно написать письмо на <a href="mailto:hi@maket.studio">hi@maket.studio</a>, либо посмотреть наш <a href="https://t.me/maketstudio">канал в Telegram</a>.</p>

{% endblock content %}
