{% extends "base.html" %}

<meta name="yandex-verification" content="3a56b1e13e623cb8" />
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(77309224, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/77309224" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

{% block content %}

<link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">

<style>
   body {background: #F2F7FA; }

   #content {margin: 0 auto; margin-top: 10%; width: 60%; max-width: 500px; background: #fff; border-radius: 20px;}
   .logo {text-align: center; padding: 40px 0 0 0; }
   .zag {text-align: center; font-size: 32pt; font-family: Inter; }
   .about {text-align: center; font-size: 18pt; line-height: 32px; font-family: Inter; font-weight: 300; padding: 20px; }
      p {font-size: 12pt; line-height: 24px; }
      a {color: #A8A8A8; text-decoration: none; border-bottom: 1px solid #D8D8D8; padding-bottom: 3px; font-family: Inter; font-weight: 300; }
      a:hover {color: #001F8E; text-decoration: none; border-bottom: 1px solid #CAD6FF; padding-bottom: 3px; }

  .button {text-align: center; padding-top: 10px; padding-bottom: 20px;}
      button {padding: 15px 25px 15px 25px; border-radius: 80px; font-family: Inter; font-weight: 300; font-size: 14pt; border: 0px solid transparent; border-color: #fff; background: #E5EFF5; color: #000; cursor: pointer
}
      button:hover {background: #CCDEE9; color: #000;}
</style>

<div id="content">
  <div class="logo"><img src="/logo.svg" width="100"></div>
  <div class="zag"></div>
  <div class="about">Дизайним и&nbsp;верстаем для&nbsp;любых масштабов. Делаем брендинг, интерфейсы&nbsp;и&nbsp;целые продукты</div>
 <div class="button"><button onclick="window.location.href = 'https://t.me/maketstudio_bot';">Связаться в Telegram</button>
 <p><a href="https://t.me/maketstudio">наш канал</a></p></div>
</div>

{% endblock content %}
